<div>
    <div class="m-2">
        <h1 class="text-3xl font-extrabold m-2">About me</h1>

        <p>I come from a research Background mostly with Bacteriaphage. Bacteria Viruses.
            <a href="https://en.wikipedia.org/wiki/Bacteriophage" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer"> Phage</a>
            I have erned two Bachelors degrees from The Evergreen State College.
            <a href="http://blogs.evergreen.edu/phage/" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">Evergreen Phage Lab</a> I'm curently teaching
            Science and Varee School in Chiang Mai. Which should be obvious if your on this site. I also
            dable with web developement and built and maintain this website for my students to use.
        </p>
        <br>
        <br>

        <p>If you need to contact me, I may reply at School email at <b>TopherJ@varee.ac.th</b></p>
        <br>
        <br>

        <h1 class="text-xl font-bolds"> Current Class schedule</h1>
        <br>


        <img class=" bg-gray-200 h-14 w-auto" alt="varee week schedule" src="/assets/images/VareeSchedule.jpg">
        <br>
        <br>
        <br>

        <img class=" bg-gray-200 h-14 w-auto" alt="varee expanded schedule"
            src="/assets/images/VareeexpandedSchedule.png">
        <br>
        <br>
        <br>
        <div class="object-center">
            <img class="mx-20 bg-gray-200 h-56 w-auto" alt="Selfie teacher Topher" src="/assets/images/Selfie.jpg">
        </div>
        <br>
        <br>
    </div>
</div>
{{yield}}