<div class=" m-4 bg-gray-600">
    <div class="m-4">
        <h1 class="text-3xl font-extrabold m-2"> M-1 Weekly summery</h1>

        <h1 class="text-xl font-bold m-2">Week 1 August 3rd 2020</h1>
        <br>
        <p> This week we all me each other and hit the ground running together. You just finished Plants section
            The first real class We went over compound microscope, and I had you draw the 14 components of
            microscope from following link.
        </p>

        <a href="https://www.microscope.com/compound-microscope-parts" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Compound microscope parts</a>
        <br>
        <br>

        <p><b>Pay attention</b> to main parts like <b>Eyepiece, Objective lenses, stage,base, course focus, fine focus,
                and
                light
                source.</b>
            Make sure you understand how the microscope works, and how to focus in on an object.
            You will need to know definitions of each above parts. Know how to calculate maginification factor,
            Eyepiece x objective lens power.
        </p>
        <br>
        <br>

        <p> <b>Labs</b> included two Microscope labs looking at plant Somata slide, and next lab more prepared slides
            Parmecium, mosquito larve, onion root tip and rat liver. Also a few were already experimenting with your
            own
            slides
            of paper, and hair samples.
        </p>
    </div>
</div>

{{!--week2--}}

<div class="m-4 bg-blue-400">
    <div class="m-4">
        <h1 class="text-xl font-extrabold">Week 2 August 10th</h1>
        <br>
        <br>
        <p>This week we had a day off on Wednesday so missed some classes. But that's ok, Because we got to go
            more in depth with our use of Compound Microscope. You guys should by this point
            know the main parts of the Microscope, and how to use them. More importantly you should be able to write
            out the steps. You should also understand how to calculate and record magnification factor. We watched
            Several
            Videos on proper microscope use and wet slide preperation for upcoming lab.
        </p>
        <br>
        <a href="https://www.youtube.com/watch?v=eZX9U15F5Q8" class="text-blue-800 undeline" target="_blank"
            rel="noopener noreferrer">Microscope do's and don'ts</a>
        <br>
        <a href="https://www.youtube.com/watch?v=4gXcFnfff6g" class="text-blue-800 undeline" target="_blank"
            rel="noopener noreferrer">Wet Mount Video</a>
        <br>
        <a href="https://www.carolina.com/teacher-resources/Interactive/make-microscope-slides-for-science-fair-projects/tr10768.tr"
            class="text-blue-800 undeline" target="_blank" rel="noopener noreferrer">Wet and dry mount Procedures</a>
        <br>

    </div>
</div>


{{!--week3--}}

<div class="m-4 bg-Gray-300">
    <div class="m-4">
        <h1 class="text-xl font-extrabold">Week 3 August 17th</h1>
        <br>
        <br>

    </div>
</div>
<!--<a href="" class="text-blue-800 undeline" target="_blank" rel="noopener noreferrer"></a>
    </div>-->



{{yield}}