<div>
    <div class="m-4">
        <h1 class="text-3xl font-extrabold m-2"> M-1 weekley summery</h1>

        <h1 class="text-xl font-bold m-2">Week 1 August 3rd 2020</h1>
        <br>
        <p> This week we all me each other and hit the ground running together. You just finished Plants section
            The first real class We went over compound microscope, and I had you draw the 14 components of
            microscope from following link.
        </p>

        <a href="https://www.microscope.com/compound-microscope-parts" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Compound microscope parts</a>
        <br>
        <br>

        <p><b>Pay attention</b> to main parts like <b>Eyepiece, Objective lenses, stage,base, course focus, fine focus,
                and
                light
                source.</b>
            Make sure you understand how the microscope works, and how to focus in on an object.
            You will need to know definitions of each above parts. Know how to calculate maginification factor,
            Eyepiece x objective lens power.
        </p>
        <br>
        <br>

        <p> <b>Labs</b> included two Microscope labs looking at plant Somata slide, and next lab more prepared slides
            Parmecium, mosquito larve, onion root tip and rat liver. Also a few were already experimenting with your
            own
            slides
            of paper, and hair samples.
        </p>
    </div>
</div>
{{yield}}