<div class="m-4">
    <div class="m-1">
        <h1 class="text-3xl font-extrabold m-2"> Weekley summary for Varee M2 SEP and IEP</h1>

        <h1 class="text-xl font-bold m-2">Week 1 August 3rd, 2020</h1>

        <p>This week we all met and I was gathering information about where you were at as well as meeting all of you.
            You just finished the Rock Cycle, we are moving in Animal Body System Unit 1 in your books.
            First assignment was to draw the heart and lable it's parts based on following link.
        </p>

        <a href="https://en.wikipedia.org/wiki/Heart" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Wiki on human heart</a>
        <br>
        <a href="https://en.wikipedia.org/wiki/Heart#/media/File:Diagram_of_the_human_heart_(cropped).svg"
            class="text-blue-800 underline" target="_blank" rel="noopener noreferrer"> Direct Link to image
            of heart</a>
        <br>
        <br>

        <p>The assignment was to draw and lable the parts in the picture as well as find out definition for each
            one based on wiki article above.<b> You should know the 4 chambers, and 4 valves of the heart.</b>
        </p>
        <br>
        <br>

        <p>2nd class this week. I had you label and draw 14 diffrent parts of microscope and define each based on this
            link</p>
        <br>

        <a href="https://www.microscope.com/compound-microscope-parts" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Compound microscope parts</a>
        <br>

        <p><b>Labs</b> consited of intro to microscopes and looking at prepared slides. Plant Somata, onion root tip,
            rat
            liver,
            parmecium.
            You should understand how to focus in on object after this lab as well as calculate your magnification
            factor.
        </p>
        <br>
        <br>
    </div>
</div>

{{yield}}