<div class="m-4 bg-gray-600">
    <div class="m-4">
        <h1 class="text-3xl font-extrabold m-2">Weekley summary</h1>

        <h1 class="text-3xl font-extrabold m-2">Week 1 August 3rd 2020</h1>
        <br>

        <p> We started off our journey together this week, and besides general introduction we also talked about
            your previous section and where you were at. Your previous unit was Ecology. and we now moving into
            exciting world of Chemistry. We introduced to you the periodic table, Parts of the atom (Protron, electron,
            Neutron), Atomic numbers,
            atomic mass unit, and very convuleted discussion on covalent bonding and electron shells. Please
            refer to following links.
        </p>
        <br>

        <a href="https://en.wikipedia.org/wiki/Periodic_table" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Periodic table</a>
        <br>
        <a href="https://en.wikipedia.org/wiki/Electron_shell" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Electron shell K,L,M and subshells (s,p,d)</a>
        <br>
        <a href="https://en.wikipedia.org/wiki/Valence_electron" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Valence electrons outer electrons</a>
        <br>
        <a href="https://en.wikipedia.org/wiki/Covalent_bond" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Covalent bonding</a>
        <br>
        <a href="https://chem.libretexts.org/Bookshelves/Physical_and_Theoretical_Chemistry_Textbook_Maps/Supplemental_Modules_(Physical_and_Theoretical_Chemistry)/Chemical_Bonding/Fundamentals_of_Chemical_Bonding/Covalent_Bonds"
            class="text-blue-800 underline" target="_blank" rel="noopener noreferrer">Addtional
            covalent bonding</a>
        <br>
        <a href="http://shimizu-uofsc.net/orgo/Chem_333/1a.ii.html" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Predicting valence electrons</a>
        <br>
        <br>
        <p>Remember the key to all of this is that everything is trying to reach stability. It's wanting to become a
            Nobel gas with<b> 8 valance electrons</b>
            in it's outter shell. With the Exception of Heleium (He) That is happy with 2. And thus Hydrogen(H)being on
            same
            level in periodic table on needs 2 electrons to be stable as well. </p>
        <br>
        <a href="https://lh3.googleusercontent.com/proxy/FVC1ERLlCs37zxItX4OC7iSLkLhAX_fYrM4Fut9-JjT2DqBFOdZ4Cgv-E3MFTvp59Z1oMwI79KW32sz__8qZS1AgXkO3sfikxTYq5xY0rbHv-oj6uJF7uyJCI6dI"
            class="text-blue-800 underline" target="_blank" rel="noopener noreferrer"> Lewis structure Periodic
            table</a>
        <br>
        <br>

        <p><b>Labs</b> this week were on flame test. The point was just to due an interesting lab. But you
            can refresh your experience with following links
        </p>

        <a href="https://en.wikipedia.org/wiki/Flame_test" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Wiki flame test explanation</a>
        <br>
        <a href="https://www.chemguide.co.uk/inorganic/group1/flametests.html" class="text-blue-800 underline"
            target="_blank" rel="noopener noreferrer">Flame test</a>
        <br>
        <a href="https://www.youtube.com/watch?v=1EXr_L7Ojqg" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Flame test Video</a>
        <br>
        <a href="https://chem.libretexts.org/Bookshelves/Inorganic_Chemistry/Modules_and_Websites_(Inorganic_Chemistry)/Descriptive_Chemistry/Elements_Organized_by_Block/1_s-Block_Elements/Group__1%3A_The_Alkali_Metals/2Reactions_of_the_Group_1_Elements/Flame_Tests"
            class="text-blue-800 underline" target="_blank" rel="noopener noreferrer">addtional
            flame test reading</a>
        <br>

        <p> M3-A you got bumbed and I'm sorry about that, but we won't be making this lab up at this</p>
        <br>
        <p> Assigned reading over weekend. Predicting number of Bonds and lone pairs for each atom.</p>
        <br>
        <a href="http://shimizu-uofsc.net/orgo/Chem_333/1a.ii.html" class="text-blue-800 undeline" target="_blank"
            rel="noopener noreferrer"> Weekend Reading on Bonding</a>
        <br>
        <br>
    </div>
</div>

<div class="m-4 bg-blue-400">
    <div class="m-2">
        <h1 class="text-3xl font-extrabold">Week 2</h1>
        <br>
        <br>
        <p> This week we dove further into Covalent Bonding and Lewis structures. I had you construct cheat sheets of
            Electron Shells, and subshells for each Element.
            At end of the week we added Lewis structures to this sheet.</p>
        <br>

        <a href=" https://www.youtube.com/watch?v=LkAykOv1foc" class="text-blue-800 underline" target="_blank"
            rel="noopener noreferrer">Covalent Bond Video</a>
        <br>
        <p>Assigned additional reading on lewis structures</p>
        <br>
        <a href="https://www.khanacademy.org/science/class-11-chemistry-india/xfbb6cb8fc2bd00c8:in-in-chemical-bonding-and-molecular-structure/xfbb6cb8fc2bd00c8:in-in-kossel-lewis-approach-to-chemical-bond/v/drawing-lewis-diagrams"
            class="text-blue-800 underline" target="_blank" rel="noopener noreferrer"> Lewis structure reading</a>
        <br>
        <br>
        <p><b>Lab</b> was electrolyte lab. It however was a bust due to equipment failure.
            We were attempting to test weather or not Sugar was an elctrolyte. Or conducts electricty.
            It does not. NaCl Sodium Chloride Does. Because it is an Ionic Bond and dissociates in water.</p>
        <br>
        <a href="https://www.teachengineering.org/activities/view/cub_desal_lesson01_activity1"
            class="text-blue-800 undeline" target="_blank" rel="noopener noreferrer">Electrolyte Lab video</a>
        <br>
        <br>
        <a href="https://lh3.googleusercontent.com/proxy/P89BB5bCOPpjmNJr7b2swykrEh_vhExvc6V0SkoNivaYoQEzxm7qJiafbq19x65MpRBKiH8sZ_dy2tWa9IzhUpx4XnB9-cK8pI2u3E4cdUoNannW1WPzX2qnYw9-"
            class="text-blue-800 undeline" target="_blank" rel="noopener noreferrer">Lewis dot structure Periodic
            table</a>
        <br>
        <p>Classes consisted of drawing covalent bonds and going over lewis structures. see links below and above.</p>
        <a href="http://www.chim.lu/ech1802.php" class="text-blue-800 undeline" target="_blank"
            rel="noopener noreferrer">Covalent Bond drawing exercises</a>
        <br>
        <a href="" class="text-blue-800 undeline" target="_blank" rel="noopener noreferrer"></a>
        <br>




        <!--<a href="" class="text-blue-800 undeline" target="_blank" rel="noopener noreferrer"></a>
    </div>-->

    </div>
</div>
{{yield}}