<h1>About me</h1>

<p>I come from a research Background mostly with Bacteriaphage. Bacteria Viruses.
    <a href="https://en.wikipedia.org/wiki/Bacteriophage"> Phage</a>
    I have erned two Bachelors degrees from The Evergreen State College.
    <a href="http://blogs.evergreen.edu/phage/">Evergreen Phage Lab</a> I'm curently teaching
    Science and Varee School in Chiang Mai. Which should be obvious if your on this site. I also
    dable with web developement and built and maintain this website for my students to use.
</p>

<p>If you need to contact me I may reply at School email at TopherJ@varee.ac.th</p>

<h1> Current Class schedule</h1>

<img class=" bg-gray-200 h-2 w-auto" alt="varee week schedule" src="/assets/images/VareeSchedule.jpg">

<img class=" bg-gray-200 h-2 w-auto" alt="varee expanded schedule" src="/assets/images/VareeexpandedSchedule.png">

<img class=" bg-gray-200 h-2 w-auto" alt="Selfie teacher Topher" src="/assets/images/Selfie.jpg">