<div>
    <div class="text-center text-blue-600 m-4 bg-gray-900">

        <h1 class="text-2xl font-bold">Welcome to Varee School of Chiang Mai M1- M3 English Science Program page</h1>
    </div>
    <div class="text-lg text-left m-2 bg-gray-600">
        <div class="m-4">
            <p> I made this page for student to have refrences to class notes, and weblinks posted in class.
                Also if you miss a day you'll know general information covered.
            </p>

            <br>
            <p>Were taking a student self responsibility and research based appraoch to learning about science.
                The internet is the best and most up to dae resource we have today, so we should use it. More
                importantly,
                the idea is to build real world practical application of science. To keep track of things each Student
                is
                responsible
                for his or her own labbook, the contains class notes, and Labratory recoreded date. This serves two
                purposes. One to help the keep track of everything,
                and two to build skill or recording data as one would in a research lab.
            </p>
            <br>
            <p>Along with this were are trying to show them along with Scientific Method, how to scrutinize and verify
                information sources.</p>
            <br>

        </div>

        <div class="m-2 bg-orange-400">
            <div class="">
                <h1 class="text-3xl font-bold text-center">The Scientific Method</h1>
            </div>

            <div class=" m-4">
                <h1 class="text-left text-2xl m-2 ">Define a Question</h1>
                <ol>
                    <li>1.) Gather information and resources (observe)</li>
                    <br>
                    <li>2.) Form an explanatory hypothesis</li>
                    <br>
                    <li>3.) Test the hypothesis by performing an experiment and collecting data in a reproducible manner
                    </li>
                    <br>
                    <li> 4.) Analyze the data</li>
                    <br>
                    <li>5.) Interpret the data and draw conclusions that serve as a starting point for new hypothesis
                    </li>
                    <br>
                    <li>6.) Publish results</li>
                    <br>
                    <li>7.) Retest (frequently done by other scientists)</li>

                </ol>
                <br>
                <br>
                <a href="https://en.wikipedia.org/wiki/Scientific_method#Beliefs_and_biases"
                    class="text-blue-800 undeline" target="_blank" rel="noopener noreferrer">Wiki Source</a>

            </div>
        </div>



    </div>
    <div class="text-2xl font-bold m-4"></div>
</div>
{{!--
<footer>
    <img class="mx-20 bg-gray-200 h-10 w-auto" alt="ACBlogo" src="/assets/images/Aliencyborglogo.png">
    <h1> Built with and hosted by Aliencyborg.org </h1>
</footer>--}}