<div class="container">

    <div class="week 1 flex flex-row bg-gray-400">
        <h1 class="text-yellow-800">HEllO World!!!</h1>


        <h1> M1 weekley summery</h1>

        <h1>Week 1 August 3rd 2020</h1>

        <p> This week we all me each other and hit the ground running together. You just finished Plants section
            The first real class We went over compound microscope, and I had you draw the 14 components of
            microscope from following link.
        </p>

        <a href="https://www.microscope.com/compound-microscope-parts">Compound microscope parts</a>

        <p>Pay attention to main parts like Eyepiece,Objective lenses, stage,base, course focus, fine focus, and light
            source.
            Make sure you understand how the microscope works, and how to focus in on an object.
            You will need to know definitions of each above parts. Know how to calculate maginification factor,
            Eyepiece x objective lens power.
        </p>

        <p> Labs included two Microscope labs looking at plant Somata slide, and next lab more prepared slides
            Parmecium, mosquito larve, onion root tip and rat liver. Also a few were already experimenting with your own
            slides
            of paper, and hair samples.
        </p>

    </div>



</div>