<h1> Weekley summary for Varee M2 SEP and IEP</h1>

<h1>Week 1 August 3rd, 2020</h1>

<p>This week we all met and I was gathering information about where you were at as well as meeting all of you.
    You just finished the Rock Cycle, we are moving in Animal Body System Unit 1 in your books.
    First assignment was to draw the heart and lable it's parts based on following link.
</p>

<a href="https://en.wikipedia.org/wiki/Heart">Wiki on human heart</a>
<a href="https://en.wikipedia.org/wiki/Heart#/media/File:Diagram_of_the_human_heart_(cropped).svg"> Direct Link to image
    of heart</a>

<p>The assignment was to draw and lable the parts in the picture as well as find out definition for each
    one based on wiki article.
</p>

<p>Class 2 I had you label and draw 14 diffrent parts of microscope and define each based on this link</p>

<a href="https://www.microscope.com/compound-microscope-parts">Compound microscope parts</a>l

<p>Labs consited of intro to microscopes and looking at prepared slides. Plant Somata, onion root tip, rat liver,
    parmecium.
    You should understand how to focus in on object after this lab as well as calculate your magnification factor.
</p>