<h1>Weekley summary</h1>

<h1>Week 1 August 3rd 2020</h1>

<p> We started off our journey together this week, and besides general introduction we also talked about
    your previous section and where you were at. Your previous unit was Ecology. and we now moving into
    exciting world of Chemistry. We introduced to you the periodic table, Parts of the atom (Protron, electron,
    Neutron), Atomic numbers,
    atomic mass unit, and very convuleted discussion on covalent bonding and electron shells. Please
    refer to following links.
</p>

<a href="https://en.wikipedia.org/wiki/Periodic_table">Periodic table</a>
<a href="https://en.wikipedia.org/wiki/Electron_shell">Electron shell K,L,M and subshells</a>
<a href="https://en.wikipedia.org/wiki/Valence_electron">Valence electrons outer electrons</a>
<a href="https://en.wikipedia.org/wiki/Covalent_bond">Covalent bonding</a>
<a
    href="https://chem.libretexts.org/Bookshelves/Physical_and_Theoretical_Chemistry_Textbook_Maps/Supplemental_Modules_(Physical_and_Theoretical_Chemistry)/Chemical_Bonding/Fundamentals_of_Chemical_Bonding/Covalent_Bonds">Addtional
    covalent bonding</a>
<a href="http://shimizu-uofsc.net/orgo/Chem_333/1a.ii.html">Predicting valence electrons</a>

<p>Labs this week were on flame test. The point was just to due an interesting lab. But you
    can refresh your experience with following links
</p>

<a href="https://en.wikipedia.org/wiki/Flame_test">Wiki flame test explanation</a>
<a href="https://www.chemguide.co.uk/inorganic/group1/flametests.html">Flame test</a>
<a href="https://www.youtube.com/watch?v=1EXr_L7Ojqg">Flame test Video</a>
<a
    href="https://chem.libretexts.org/Bookshelves/Inorganic_Chemistry/Modules_and_Websites_(Inorganic_Chemistry)/Descriptive_Chemistry/Elements_Organized_by_Block/1_s-Block_Elements/Group__1%3A_The_Alkali_Metals/2Reactions_of_the_Group_1_Elements/Flame_Tests">addtional
    flame test reading</a>

<p> M3 A you got bumbed and I'm sorry about that, but we won't be making this lab up at this</p>